/********************
GENERAL
*********************/

body {
  font-family: 'Open Sans', sans-serif;
}

#wrapper {
  max-width: 950px;
  margin: 0 auto;
  padding: 0 5%;
}

/*Links*/
a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h3 {
  margin: 0 0 1em 0;
}

/********************
HEADINGS
*********************/

header {
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
}

#logo {
  text-align: center;
  margin: 0;
}

h1 {
  font-family: 'Changa One', sans-serif;
  margin: 15px 0;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 0.8em;
}

h2 {
  font-size: 0.75em;
  margin: -5px 0 0;
  font-weight: normal;
}


/********************
NAVIGATION
*********************/

nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: 800;
  padding: 15px 10px;
  
}

/********************
FOOTER
*********************/

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #ccc;
}

.social-icon {
  width: 30px;
  height: 30px;
  margin: 0 5px;
}

/********************
PAGE: PORTFOLIO
*********************/

/*removes the margin, padding, and bullet points from the list element with the ID gallery.*/
#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*Selects the list items nested inside the gallery.
and floats them to the left and set the width to 45%*/
#gallery li {
  float: left;
  width: 45%;
  margin: 2.5%;
  background-color: #f5f5f5;
  color: #bdc3c7;
}

#gallery li a p {
  margin: 0;
  padding: 5%;
  font-size: 0.75em;
  color: #bdc3c7;
  
}

/********************
PAGE: ABOUT
*********************/


.profile-photo {
  display: block;
  max-width: 150px;
  margin: 0 auto 30px;
  border-radius: 30px;
}


/********************
PAGE: CONTACT
*********************/


.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.contact-info li.phone a {
 background-image: url('../img/phone.png'); 
}

.contact-info li.mail a {
 background-image: url('../img/mail.png'); 
}

.contact-info li.twitter a {
 background-image: url('../img/twitter.png'); 
}


/********************
PAGE: BLOG INTRO
*********************/

/*blog text*/
 h3, p {
  color: #000;
  font-size: 20px;
  font-family: 'open sans', sans-serif;
}

/*blog headlines*/

#blog_head {
  text-align: center;
  font-size: 20px;
}

#second_head {
  text-align: center;
  text-decoration: underline;
}

#conteiner li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*blog imag*/

#conteiner img {
  width: 75%;
  margin: 0;
  padding: 5% 10% 5% 10%;
  background-color: #f5f5f5;
  color: #bdc3c7;
}

#conteiner li a p {
  margin: 0;
  padding: 0.4% 5%;
  font-size: 1.25em;
  color: #bdc6c7;
  
}




/********************
COLORS
*********************/

/*Site Body*/
body {
  background-color: #fff;
  color: #999;
}

/*blue Header*/
header {
  background: #5D6CC2;
  border-color: #5725E8;
}

/*Links*/
a { 
color: #5282E8;
}

/*Logo text*/
h1, h2 {
  color: #fff;
}

/*nav Background On Mobile*/
nav {
  background: #599a68;
}

/*nav links*/
nav a, nav a:visited {
  color: #fff;
}

/*Selected nav*/
nav a.selected, nav a:hover {
  color: #46197D;
}


